[project]
name = "cveforge"
version = "0.1.1"
description = "Framework that aim to enhance the developer experience for CVEs, malware, scans and reports. Aimed to Red and Blue cybersecurity teams."
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "beautifulsoup4>=4.14.2",
    "bip-utils>=2.10.0",
    "censys-platform>=0.11.0",
    "daphne>=4.2.1",
    "django>=5.2.8",
    "eth-account>=0.13.7",
    "google-api-python-client>=2.187.0",
    "google-auth-httplib2>=0.2.1",
    "google-auth-oauthlib>=1.2.3",
    "numpy>=2.3.5",
    "packaging>=25.0",
    "paramiko>=4.0.0",
    "pathspec>=0.12.1",
    "pillow>=12.0.0",
    "prompt-toolkit>=3.0.52",
    "psutil>=7.1.3",
    "python-semantic-release>=10.5.2",
    "requests>=2.32.5",
    "rich>=14.2.0",
    "scapy>=2.6.1",
    "stem>=1.8.2",
    "typer>=0.20.0",
    "watchdog>=6.0.0",
    "wordlist>=1.0.1",
    "xmltodict>=1.0.2",
]

[tool.setuptools]
package-data = {"cveforge" = [".cveforge.toml", ".cveignore", "assets/**"]}
include-package-data = true

[tool.setuptools.packages.find]
where = ["src"]

[project.scripts]
cveforge = "cveforge.__main__:main"

[tool.semantic_release]
assets = []
build_command_env = []
commit_message = "{version}\n\nAutomatically generated by python-semantic-release"
commit_parser = "conventional"
logging_use_named_masks = false
major_on_zero = false
allow_zero_version = true
repo_dir = "./"
no_git_verify = false
tag_format = "v{version}"
add_partial_tags = false
version_toml = ["pyproject.toml:project.version"]
build_command = "uv build"

[tool.semantic_release.branches.main]
match = "(main|master)"
prerelease_token = "rc"
prerelease = true

[tool.semantic_release.changelog]
changelog_file = "CHANGELOG"
exclude_commit_patterns = []
mode = "update"
insertion_flag = "<!-- version list -->"
template_dir = "templates"

[tool.semantic_release.changelog.default_templates]
changelog_file = "CHANGELOG"
output_format = "md"
mask_initial_release = true

[tool.semantic_release.changelog.environment]
block_start_string = "{%"
block_end_string = "%}"
variable_start_string = "{{"
variable_end_string = "}}"
comment_start_string = "{#"
comment_end_string = "#}"
trim_blocks = false
lstrip_blocks = false
newline_sequence = "\n"
keep_trailing_newline = false
extensions = []
autoescape = false

[tool.semantic_release.commit_author]
env = "GIT_COMMIT_AUTHOR"
default = "etherbeing <etherbeing99@proton.me>"

[tool.semantic_release.commit_parser_options]
minor_tags = ["feat"]
patch_tags = ["fix", "perf"]
other_allowed_tags = ["build", "chore", "ci", "docs", "style", "refactor", "test"]
allowed_tags = ["feat", "fix", "perf", "build", "chore", "ci", "docs", "style", "refactor", "test"]
default_bump_level = 0
parse_squash_commits = true
ignore_merge_commits = true

[tool.semantic_release.remote]
name = "origin"
type = "github"
ignore_token_for_push = false
insecure = false

[tool.semantic_release.publish]
dist_glob_patterns = ["dist/*"]
upload_to_vcs_release = true

[tool.semantic_release.tools.pypi.repository]
username = "__token__"
password = "{env:PYPI_API_TOKEN}"
