name: Build and Deploy to PyPI

on:
    push:
        branches:
            - main
        tags:
            - v*
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      # - name: Install uv
      #   run: pip install uv
      - name: Build and Publish to PyPI
        uses: python-semantic-release/publish-action@v9 #pypa/gh-action-pypi-publish@release/v1
        # continue-on-error: true
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
        #   password: ${{ secrets.PYPI_API_TOKEN }}
